<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV - Doriane Hare{%block titre%}{%endblock%}</title>
    {%include "partials/css.html" %}
    {% include "partials/metadata.html" %}
</head>
<body>
    <div><h1>Curriculum Vitae - Doriane Hare</h1></div>
    <div1>Coordonnées : doriane.hare@chartes.psl.eu <br>
        Actuellement étudiante en M2 Technologies numériques appliquées à l'histoire (TNAH)
        à l'Ecole nationale des chartes</div1>
    <div>{% block corps%}{%endblock%}</div>
    <div><footer>Mis à jour le 10 décembre 2020</footer></div>

</body>
</html>